<!-- <div class="menu-meanings">
    <form class="form-meanings">
        <div class="textarea-meanings">
            <textarea id="textarea-meanings" rows="4" cols="20" placeholder="Введите текст" name="textarea-meaning"
                autofocus [(ngModel)]="baseInput" ></textarea>
            <label for="textarea-meanings"></label>
            <div class="textarea-button">
                <button> TO </button>
            </div>
        </div>
        <div class="button-rephrase">
            <button (click)="handleRephrase()">
                Кнопка1
            </button>
        </div>
        <div class="output-rephrase">
            <output>{{baseOutput}}</output>
            <div class="textarea-button">
                <button> TO </button>
            </div>
        </div>
    </form>

</div> -->