.clipboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    margin-right: 15px;
    font-size: 16px;
    color: #6c757d;
}

.clipboard-item {
    /* display: grid;
    grid-template-columns: 10fr 1fr;   
    margin-top: 10px; */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.column-left {
    margin-right: auto;
    word-break: break-word;
}

.column-right {
    margin-left: auto;
    cursor: pointer;
}

.column-right:hover {
    scale: 1.5;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}