<header class="clipboard-header">
    <h2>Clipboard</h2>
</header>
<p-listbox [options]="serviceData" [disabled]="!serviceData[0].input" [(ngModel)]="clipboardItem"
    optionLabel="input" [listStyle]="listBoxHeight" [style]="listBoxWidth"
    (onClick)="transferClipboardToInput(clipboardItem!.input)" #listbox>
    <ng-template let-data let-i='index' pTemplate="item">
        <div class="clipboard-item">
            <div [ngClass]="data.style" class="column-left">{{ data.input }} {{data.tab}}</div>
            <span *ngIf="data.input || data.tab" class="column-right" (click)="deleteClipboardItem(i)">
                ❌
            </span>
        </div>
    </ng-template>
</p-listbox>