<header class="header">
    <div class="container">
        <h2>Clipboard</h2>
    </div>
</header>
<p-listbox #listbox [options]="serviceData" [disabled]="serviceData[0].input===''" [(ngModel)]="clipboardItem"
    optionLabel="input" [listStyle]="{ 'height': '464px','max-width': '425px'}" [style]="{ width: '100%'}"
    (onClick)="transferClipboardToData(clipboardItem!.input)">
    <ng-template let-data let-i='index' pTemplate="item">
        <div class="clipboard-item">
            <div [ngClass]="data.style" class="column">{{ data.input }} {{data.tab}}</div>
            <span *ngIf="data.input || data.tab" class="column" (click)="deleteClipboardItem(i)">
                ❌
            </span>
        </div>
    </ng-template>
</p-listbox>