<header class="header">
    <div class="container">
        <h2>Clipboard</h2>
    </div>
</header>
<p-listbox #listbox [options]="serviceData" [disabled]="serviceData[0].input===''"
[(ngModel)]="clipboardItem" optionLabel="input" 
[listStyle]="{ 'height': '464px','max-width': '425px'}"
[style]="{ width: '425px' }">
    <!-- [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }" -->
    <ng-template let-data let-i='index' pTemplate="item">
        <div class="clipboard-item">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/> -->
            <div [ngClass]="data.style" class="column" 
            (click)="transferClipboardToData(data.input)">{{ data.input }} {{data.tab}}</div>
            <span *ngIf="data.input || data.tab" class="column" 
            (click)="deleteClipboardItem(i)">
            ❌
            </span>
        </div>
    </ng-template>
</p-listbox>


<!-- <ul class="clipboard-list" >
    <div *ngFor="let data of serviceData; let i= index" class="clipboard-item">
        <li [ngClass]="data.style"
    (click)="transferClipboardToData(data.input)" pRipple
    class="list-item column" >{{data.input}} {{data.tab}} </li>
    <span *ngIf="data.input || data.tab" class="column" 
    (click)="deleteClipboardItem(i)">
    ❌
    </span>
</div>
</ul> -->