.highlight {
    color: #6c757d;
    font-weight: bold;
    cursor: pointer;
}

.highlight::after {
    content: " (press to add to Clipboard)→";
    font-weight: bold;
    margin-left: 5px;
    color: #3B82F6;
}