<form class="form-rephrase">
    <div class="textarea-rephrase">
        <textarea rows="4" cols="20" class="form-control" id="textarea-rephrase" placeholder="Введите текст"
            name="textarea-rephrase" autofocus [(ngModel)]='baseInput' pInputTextarea 
            pInputText pTooltip="Enter text to convert" tooltipPosition="right"></textarea>
        <label for="textarea-rephrase"></label>
    </div>

    <div class="button-rephrase">
        <p-toast></p-toast>
        <p-splitButton label="Convert" icon="pi pi-plus" (onClick)="handleRephrase(baseInput)"
            [model]="buttonItems">
        </p-splitButton>
    </div>
    <div class="output-rephrase">
        <output pInputTextarea>{{baseOutput}}</output>
    </div>
</form>
