.rephrase-container {
    margin-left: 15px;
}

.radio-container {
    margin-bottom: 5px;
    font-family: var(--headings-font-family);
    font-weight: 700;
    color: #6c757d;
}

p-radiobutton {
    margin-right: 5px;
}