<header class="header">
    <div class="container">
        <h1>EN Learner</h1>
    </div>
</header>
<app-tabs></app-tabs>
<router-outlet></router-outlet>
<!-- <div class="container">
        <ul>
            <li class="menu-tab-rephrase"
                [ngClass]="{ 'selected': selectedComponentName === 'RephraseComponent' || !selectedComponentName}" 
                (click)="navigateToComponent('RephraseComponent')">
                    Rephrase
            </li>
            <li class="menu-tab-meanings"
            [ngClass]="{ 'selected': selectedComponentName === 'MeaningsComponent'}"
                (click)="navigateToComponent('MeaningsComponent')">
                    Meanings
            </li>
            <li class="menu-tab-generator"
            [ngClass]="{ 'selected': selectedComponentName === 'GeneratorComponent'}" 
                (click)="navigateToComponent('GeneratorComponent')">
                    Generator
                </li>
        </ul>
        <app-tabs items="items"></app-tabs>
        <router-outlet></router-outlet>
</div> -->


