<div class="menu-content">
    <div class="menu-rephrase">
        <div class="rephrase-method">
            <div class="radio-buttons">
                <input type="radio" name="rephrase-method" id="input-polite" value="" checked>
                <label for="input-polite">POLITE</label>
            </div>
            <div class="radio-buttons">
                <input type="radio" name="rephrase-method" id="input-official" value="">
                <label for="input-official">OFFICIAL</label>
            </div>
            <div class="radio-buttons">
                <input type="radio" name="rephrase-method" id="input-regular" value="">
                <label for="input-regular">REGULAR</label>
            </div>
        </div>
        <form class="form-rephrase">
            <div class="textarea-rephrase">
                <textarea rows="4" cols="20" class="form-control" id="textarea-rephrase" placeholder="Введите текст" name="textarea-rephrase" 
                    autofocus [(ngModel)]="baseInput"></textarea>
                <label for="textarea-rephrase"></label>
                <div class="textarea-button">
                    <button> TO </button>
                </div>
            </div>

            <div class="button-rephrase">
                <button (click)="handleRephrase()">
                    Кнопка
                </button>
            </div>
            <div class="output-rephrase">
                <output>{{baseOutput}}</output>
                <div class="textarea-button">
                    <button> TO </button>
                </div>
            </div>
        </form>
    </div>