<div class="container">
    <ul>
        <li *ngFor ="let tab of tabs" class="menu-tab-rephrase"
        [class.selected]="tab.isSelected"
        (click)="navigateToComponent(tab)">
        {{tab.componentName}}
        </li>
    </ul>
</div>



<!-- <div>
    <ng-container *ngFor="let tab of tabs">
      <ng-container *ngIf="tab.isSelected">
        <router-outlet [name]="tab.componentName"></router-outlet>
      </ng-container>
    </ng-container>
  </div> -->



<!-- <div class="container">
    <ul>
        <li class="menu-tab-rephrase"
            [ngClass]="{ 'selected': selectedComponentName === 'RephraseComponent' || !selectedComponentName}" 
            (click)="navigateToComponent('RephraseComponent')">
                Rephrase
        </li>
        <li class="menu-tab-meanings"
        [ngClass]="{ 'selected': selectedComponentName === 'MeaningsComponent'}"
            (click)="navigateToComponent('MeaningsComponent')">
                Meanings
        </li>
        <li class="menu-tab-generator"
        [ngClass]="{ 'selected': selectedComponentName === 'GeneratorComponent'}" 
            (click)="navigateToComponent('GeneratorComponent')">
                Generator
            </li>
    </ul>
    <app-tabs items="items"></app-tabs>
</div> -->