<form class="input-output-form">
    <div class="textarea-container">
        <textarea rows="4" cols="20" class="form-control" id="textarea-inputID" placeholder="Enter text"
            name="textarea-inputName" autofocus [(ngModel)]='baseInput' pInputTextarea pInputText
            pTooltip="Enter text to convert" tooltipPosition="right" #textarea></textarea>
        <label for="textarea-inputID"></label>
    </div>
    <div class="button-container">
        <p-button label="Convert" icon="pi pi-plus" (onClick)="handleRephrase(baseInput)" [disabled]="isDisabled()">
        </p-button>
        <p-button label="Add to Clipboard" icon="pi pi-arrow-right" (onClick)="addToClipboard()" [disabled]="!baseInput"
            [style]="buttonWidth">
        </p-button>
    </div>
    <div class="output-container">
        <output *ngIf="baseOutput" pInputTextarea [ngClass]="highlight">
            <span (click)="addOutputToClipboard()" (mouseenter)="onOutputMouseEnter()"
                (mouseleave)="onOutputMouseLeave()">
                {{baseOutput}}
            </span>
        </output>
        <output *ngIf="!baseOutput" pInputTextarea class="output-empty">
            Convert data first
        </output>
    </div>
</form>

<p-toast></p-toast>