.highlight {
    font-weight: bold;
    color: #6c757d;
    cursor: pointer;
}

.highlight::after {
    margin-left: 5px;
    content: " (press to add to Clipboard)→";
    font-weight: bold;
    color: #3B82F6;
}

.input-output-form {
    margin-top: 24px;
}

.textarea-container {
    height: 100%;
    max-width: 970px;
    display: flex;
}

.output-container {
    height: 100%;
    max-width: 970px;
    display: flex;
    margin-top: 31px;
}

.textarea-container > textarea {
    width: 100%;
    max-width: 980px;
    height: 130px;
    margin: 0px 0px 20px 15px;
    padding: 8px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    color: #000000;
    outline: none;
    box-sizing: border-box;
}

.button-container {
    height: 30px;
    width: 100%;
    display: flex;
    margin-left: 15px;
    padding-right: 30px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.output-container > output {
    height: 130px;
    width: 100%;
    max-width: 970px;
    display: block;
    padding: 8px;
    margin-left: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    word-break: break-word;
}


p-button {
    margin-left: 15px;
}